<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Описание страницы. Не менее 160 символов. " />
        <meta name="keywords" content="Здесь указываем список ключевых слов, разделенные запятой." />
        <title>Главная страница</title>
    </head>
    <body>
    {% for k, v in get.items %}
        get {{ k }}: {{ v }}
    {% endfor %}

    {% for k, v in post.items %}
        post {{ k }}: {{ v }}
    {% endfor %}

    {% if meta.HTTP_X_PRINT_STATEMENT %}
        statement is {{ meta.HTTP_X_PRINT_STATEMENT }}
    {% else %}
        statement is empty
    {% endif %}
    </body>
</html>